div{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8e44ad;
}
.mainDiv{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #8e44ad;
}
h1{
  color: white;
  background-color: transparent;
  text-shadow: 0 2px 2px black;
}
input{
  width: 33%;
  padding: 10px 20px;
  border: none;
  outline: none;
  margin: 20px 0px;
  text-align: center;
  border-radius: 10px;
}
button{
  line-height: 24px;
  padding: 0px 20px;
  background: #9b59b6;
  color: white;
  border: 2px solid #ecf0f1;
  outline: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
}
form{
  border: 5px solid goldenrod;
  width: 100%;
}
